@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body {
    margin: 0;
    font-family: 'Lobster', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: 'Lobster', cursive;
  }
  